html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1{
  color: white;
  font-size: 40px;
  line-height: 1;
  padding: 450px 10px;
  text-align: left;
}

h2{
  font-size: 25px;
  line-height: 1.5;
}

nav ul{
  float: right;
  list-style-type: none;
}

nav li{
  font-size: 24px;
  float: left;
  padding-right: 40px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-shadow: .25px .25px;
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
  
.skip a:focus{
  top: 0;
  visibility: visible;
}

*:focus{
  border: 2px solid black;
}


footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:40px;
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  padding-top: 15px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 5px;
   
  width: 100vw; 
}

.nav{
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #ddd;
  padding: 5px 0; 
  text-align: left;
}

header{
  background-attachment: absolute; /* Parallax effect */
  background-image: url("../images/rea_professional_pic.jpg");
  background-position: middle;   /*Parallax effect */ 
  background-repeat: no-repeat;  /*Parallax effect*/ 
  background-size: cover;        /*Parallax effect*/ 
  background-color: black;
  color: white;
  height: 500px;                  /*Parallax effect*/
  padding: 35px 0;
  grid-column: 1/-1;
  grid-row: 2;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about{
  grid-column: 1/-1;
  grid-row: 3;
  align-self: center;
  padding: 15px;
}

#experience{
  background-attachment: fixed;  /*Parallax effect*/ 
  background-image: url("../images/prof.jpg");  
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat;  /*Parallax effect */
  background-size: cover;        /*Parallax effect */
  color: white;
  height: 200px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2;
}

#experience h1{
  font-size: 50px;
  line-height: 1;
  padding: 25px;
  text-align: center;
}

.experience{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}

#proj{
  background-attachment: fixed;  /*Parallax effect*/ 
  background-image: url("../images/projects.jpg");
  background-position: center;   /*Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 200px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2/3;
}

#proj h1{
  font-size: 50px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
}

.projects{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}


#passions{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/passions.jpg");
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 100px;                /* Parallax effect */

  grid-column: 1/-1;
  /*grid-row: 4 / 5; */
}

#passions h1{
  font-size: 50px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
}

.passions{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}

.flip-card{
  display: flex;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p{
  padding-top: 125px;
}
