html{
    scroll-behavior: smooth;
}


body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1{
  color: white;
  font-size: 30px;
  line-height: 1;
  padding: 200px 10px;
  text-align: left;
}

h2{
  font-size: 25px;
  line-height: 1.5;
}

nav ul{
  float: right;
  list-style-type: none;
}

nav li{
  float: left;
  padding-right: 12px;
  font-size: 15px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-shadow: .25px .25px;
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
  
.skip a:focus{
  top: 0;
  visibility: visible;
}

*:focus{
  border: 2px solid black;
}


footer{
  position: fixed;
  bottom:0;
  width:100%;
  height:20px;
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  padding-top: 5px;
  text-align: center;
  font-size: 10px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 5px;
   
  width: 100vw; 
}

.nav{
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #ddd;
  padding: 5px 0; 
  text-align: left;
}

#universal{
  background-color: black;
  padding: 10px 0;
  grid-column: 1/-1;
  grid-row: 2;
}

#universal h1{
  font-size: 15px;
  color: white;
  line-height: 1;
  padding: 2px;
  text-align: center;
}

#intro{
  background-attachment: absolute; /* Parallax effect */
  background-image: url("../images/rea_professional_pic.jpg");
  background-position: middle;   /*Parallax effect */ 
  background-repeat: no-repeat;  /*Parallax effect*/ 
  background-size: cover;        /*Parallax effect*/ 
  background-color: black;
  color: white;
  height: 300px;                  /*Parallax effect*/
  padding: 35px 0;
  grid-column: 1/-1;
  grid-row: 2;
}

#intro p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about{
  grid-column: 1/-1;
  grid-row: 3;
  align-self: center;
  padding: 15px;
}

#experience{
  background-attachment: fixed;  /*Parallax effect*/ 
  background-image: url("../images/prof.jpg");  
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat;  /*Parallax effect */
  background-size: cover;        /*Parallax effect */
  color: white;
  height: 150px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2/3;
}

#experience h1{
  font-size: 30px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
  color: white;
}

.experience{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}

#proj{
  background-attachment: fixed;  /*Parallax effect*/ 
  background-image: url("../images/projects.jpg");
  background-position: center;   /*Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 150px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2/3;
}

#proj h1{
  font-size: 30px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
}

.projects{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}


#passions{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/passions.jpg");
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 150px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2 / 3; 
}

#passions h1{
  font-size: 30px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
}

.passions{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}

.flip-card{
  display: flex;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ff8080;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p{
  padding-top: 125px;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.gallery:hover{
    filter: grayscale(100%);
  display: flex;
  flex-wrap: wrap;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img{
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 100%;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#contact{
  background-attachment: fixed;  /*Parallax effect*/ 
  background-image: url("../images/contact.jpg");  
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat;  /*Parallax effect */
  background-size: cover;        /*Parallax effect */
  color: white;
  height: 150px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2/3;
}

#contact h1{
  font-size: 20px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
  color: white;
}

.contact{
  grid-column: 1/-1;
  grid-row: 4;
  align-self: center;
  padding: 15px;
}

/*form {
  padding: 10px;
}*/

.clip-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

.clip-text_four {
    background-image: url(https://picsum.photos/480/200?grayscale&blur=3);
}

#facts {
  padding-left: 20px;
}


div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #ebb7da;
  animation-name: angry-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes angry-animation {
  0%{
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  100%{
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .responsive {
    width: 50%;
  }

    #intro{
    background-attachment: fixed; /* Parallax effect */
    background-image: url("../images/rea_professional_pic.jpg");
    background-position: middle;   /*Parallax effect */ 
    background-repeat: no-repeat;  /*Parallax effect*/ 
    background-size: cover;        /*Parallax effect*/ 
    background-color: black;
    color: white;
    height: 300px;                  /*Parallax effect*/
    padding: 35px 0;
    grid-column: 1/-1;
    grid-row: 2;
  }

  nav ul{
    float: right;
    list-style-type: none;
  }

  nav li{
    float: left;
    padding-right: 50px;
    font-size: 25px;
  }
  
  h1{
    color: white;
    font-size: 30px;
    line-height: 1;
    padding: 200px 10px;
    text-align: center;
  }

  h2{
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  }

  #experience{
    background-attachment: fixed;  /*Parallax effect*/ 
    background-image: url("../images/prof.jpg");  
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat;  /*Parallax effect */
    background-size: cover;        /*Parallax effect */
    color: white;
    height: 250px;                /* Parallax effect */

    grid-column: 1/-1;
    grid-row: 2/3;
  }
  
  #proj{
  background-attachment: fixed;  /*Parallax effect*/ 
  background-image: url("../images/projects.jpg");
  background-position: center;   /*Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 250px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2/3;
  }

  #passions{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/passions.jpg");
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 250px;                /* Parallax effect */

  grid-column: 1/-1;
  grid-row: 2 / 3; 
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  #intro{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/rea_professional_pic.jpg");
  background-position: middle;   /*Parallax effect */ 
  background-repeat: no-repeat;  /*Parallax effect*/ 
  background-size: cover;        /*Parallax effect*/ 
  background-color: black;
  color: white;
  height: 300px;                  /*Parallax effect*/
  padding: 35px 0;
  grid-column: 1/-1;
  grid-row: 2;
}

  nav ul{
    float: right;
    list-style-type: none;
  }

  nav li{
    float: left;
    padding-right: 12px;
    font-size: 20px;
  }

  .responsive {
    width: 3fr;
    margin: 6px 0;
  }
  
}